.form {
  width: 40rem;
  margin: 2rem auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form input {
  display: block;
  width: 98%;
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}
.form button {
  font: inherit;
  background-color: #ebb002;
  border: 1px solid #ebb002;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
}

.form button:hover,
.form button:active {
  background-color: #ebc002;
  border-color: #ebc002;
}

.editor {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
  /* outline: 2px dashed blueviolet; */
}

.editorfocus {
  outline: 2px dashed blueviolet;
}

.addbutton {
  font: inherit;
  margin: auto;
  background-color: #ebb002;
  border: 1px solid #ebb002;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin: 2rem auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.error {
  color: red;
}
